{% macro navbar() %}
    <div id="headerArea">
        <nav id="navbar" style="margin-bottom: 10px;">
            <div class="navbar-menu">
                <a href="/index.html">home</a>
                <a href="/about">about</a>
                <a href="/now">now</a>
                <a href="/posts">posts</a>
                <a href="/misc">misc</a>
                <a href="/links">links</a>
                <a href="/email">email</a>
            </div>
        </nav>
    </div>
{% endmacro %}


{% macro gif_header(icon, text) %}
    <div id="header">
        <div>
            {% if icon %}
            <img src="/assets/{{ icon }}" alt={{ icon }} class="gif-icon">
            {% else %}
            <img src="/assets/computer.gif" alt="computer.gif" class="gif-icon">
            {% endif %}
            <div id="header-text">{{ text }}</div>
        </div>
    </div>
{% endmacro %}

{% macro head(icon, title) %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            // Determine initial theme
            const savedTheme = localStorage.getItem("theme");
            const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
            const theme = savedTheme || (prefersDark ? "/style/dark.css" : "/style/light.css");

            // Immediately write the correct link
            document.write('<link id="theme-stylesheet" rel="stylesheet" href="' + theme + '">');
        </script>

        <link id="theme-stylesheet" rel="stylesheet" href="">
        {% if icon %}
        <link rel="icon" type="image/x-icon" eleventy:formats="gif" width="50px" href="/assets/{{ icon }}">
        {% else %}
        <link rel="icon" type="image/x-icon" eleventy:formats="gif" width="50px" href="/assets/computer.gif">
        {% endif %}

        <link href="/style/style.css" rel="stylesheet" type="text/css" media="all">

        <title>{{ title }}</title>
    </head>
{% endmacro %}

{% macro theme_switcher() %}
    <div style="display: inline-block; padding:1vmin 2vmin;">
        <button id="theme-toggle">switch theme</button>
    </div>
    <script src="/scripts/themeSwitch.js"></script>
{% endmacro %}


{% macro footer(content) %}
<hr>
<footer id="footer" style="margin-top: 10px;">{{ content | safe }}</footer>
{% endmacro %}


{% macro book_grid(bookCovers) %}
<link id="theme-stylesheet" rel="stylesheet" href="/style/books.css">
<div id="books" class="grid">
    {% for book in bookCovers %}
    <div class="book">
        <a href="{{ book.link }}" style="background:var(--bg-color);" target="_blank">
            <img src="{{ book.cover }}" alt="{{ book.title }}">
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}
