{% from "macros.njk" import navbar, gif_header, theme_switcher, head %}

{{ head(icon, title) }}

<body>
    {{ theme_switcher() }}

    <div id="main">

        {{ gif_header(icon, header) }}
        {{ navbar() }}

        {{ content | safe }}
    </div>
    <script type="module" src="/scripts/hitCount.js"></script>
</body>

