{% from "macros.njk" import navbar, gif_header, theme_switcher, head %}

{{ head(icon, name) }}

<body>

    {{ theme_switcher() }}

    <div id="container">

        <div id="container">
            <div id="flex">
                <div id="main">
                    <h3 style="display: inline;"><a href="{{ link }}" target="_blank">{{ name }}</a></h3>
                    <a href="{{ link }}" target="_blank">(Link)</a>
                    {{ content | safe }}

                    <a href="#" onclick="history.go(-1)">go back</a>
                </div>
            </div>
        </div>
    </div>


</body>
