<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            // Determine initial theme
            const savedTheme = localStorage.getItem("theme");
            const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
            const theme = savedTheme || (prefersDark ? "/style/dark.css" : "/style/light.css");

            // Immediately write the correct link
            document.write('<link id="theme-stylesheet" rel="stylesheet" href="' + theme + '">');
        </script>

        <link id="theme-stylesheet" rel="stylesheet" href="">
        <link rel="icon" type="image/x-icon" eleventy:formats="gif" width="50px" href="/assets/{{ icon }}">


        <link href="/style/style.css" rel="stylesheet" type="text/css" media="all">

        <title>{{ title }}</title>
    </head>

    <body>
        {{ content | safe }}
    </body>
</html>
