
.book {
    text-align: center;
    font-size: 0.6em;
    width: 100px;
    transition: transform .1s; /* animation */
}

.book:hover {
    transform: scale(1.03);
}

.book img {
    width: 100px;
    height: 153px;
    background: var(--bg-color);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--text-color);
}



#main {
    justify-content: center;
}
