@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

#main {
    font-family: "Reddit Mono", monospace;
    font-size: 0.8em;
}

#goback {
    font-family: var(--body-font);
    font-size: 1.25em;
}
