/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --border-thickness: 2px;
    --header-font: "BIZ UDMincho", serif;
    /* --body-font: "Courier Prime", monospace; */
    --body-font: "VT323", monospace;
    --header-font: var(--body-font);
    /* --header-font: "Courier Prime", monospace; */
    --cursor: url("/assets/wii-cursor.cur"), auto;
    --pointer: url("/assets/wii-pointer.cur"), auto;
    --transition: color, background 0.2s ease-in-out;
}

body {
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(30px, 3vmin, 40px);
    margin: 0;
    background-size: 65px;
    color: var(--text-color);
    background-color: var(--bg-color);
    cursor: var(--cursor);
    transition: var(--transition);
}

* {
    box-sizing: border-box;
}

/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 900px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
    and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

a {
    color: var(--link-color);
    text-decoration: none;
    cursor: var(--pointer);
    display: inline;
}

a:hover {
    color: var(--bg-color);
    background-clip: content-box;
    background-color: var(--link-color);
}

#header {
    width: 100%;
    
    /* header color here! */
    /* padding-top: 30vh; */
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    transition: var(--transition);
}

#header-text {
    font-family: var(--header-font);
    font-weight: 400;
    font-size: clamp(1.2em, 7vmin, 400px);
    text-align: center;
}

#flex {
    display: flex;
}

/* this is the color of the main content area,
between the sidebars! */
#main {
    transition: var(--transition);
    flex: 1;
    padding: 20px;
    order: 2;
}

button {
    font-family: var(--body-font);
    font-size: 16px;
    padding: 0!important;
    color: var(--link-color);
    background-color: var(--bg-color);
    border: none;
    outline: none;
}

button:hover {
    cursor: var(--pointer);
    color: var(--bg-color);
    background-color: var(--link-color);
}

footer {
    display: flex;
    width: 100%;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    justify-items: space-between;
    gap: 5vw;
}

h1, h2, h3 {
    color: var(--text-color);
    font-family: var(--header-font);
}

strong {
    /* this styles bold text */
    color: var(--text-color);
}

.box {
    display: inline-block;
    width: flex;
    padding: 1vmin;
}

#email {
    font-size: clamp(0.5em, 4vmin, 50px);
    text-align: center;
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
 */

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }
}

.navbar-menu {
    display: flex;
    justify-items: space-between; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.navbar-menu li {
    margin-bottom: 10px;
    display: inline;
}

/* change text selection styling */
::-moz-selection {
  color: var(--bg-color);
  background: var(--link-color);
}

::selection {
  color: var(--bg-color);
  background: var(--link-color);
} 

.gif-icon {
    display: block;
    height: 50px;
    width: 50px;
    margin: 40px auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.button88x31 {
    max-height: 31px;
    max-width: 88px;
    background: var(--bg-color);
}
