---
layout: markdown.njk
icon: eye.gif
title: andrei's miscellanea
header: miscellanea
---

<p>
This page is for all the random things I don't have another place for.
</p>

<h2>webrings <a name="webrings"></a></h2>

<link id="theme-stylesheet" rel="stylesheet" href="/style/webrings.css">

<div id="webrings">
    <div class="webring box" id="shring">
        <div>
            <a href="https://shring.sh/andreilazer/previous"><--</a>
            <nobr> <a href="https://shring.sh">shring</a> 
            <nobr> <a href="https://shring.sh/andreilazer/next">--></a>
        </div>
    </div>

    <div class="webring box" id="hotline">
        <div>
            <a href="https://hotlinewebring.club/andreilazer/previous"><--</a>
            <nobr> <a href="https://hotlinewebring.club/">hotline</a> 
            <a href="https://hotlinewebring.club/andreilazer/next">--></a>
        </div>
    </div>
</div>

    

<h2>buttons</h2>

If you'd like to link to my page, please use this button!
<img src="/assets/buttons/me_88x31.gif" alt="my button">

<h3>other people's buttons</h3>

{% for button in buttons %}
<a href="{{ button.link }}"><img class="button88x31" src="{{ button.img_src }}" alt="{{ button.alt }}"></a>
{% endfor %}

<h3>badges</h3>

<img class="button88x31" src="assets/buttons/neovim.gif" alt="fedora">
<img class="button88x31" src="assets/buttons/romania_88x15.gif" alt="romania">
<img class="button88x31" src="assets/buttons/fedora.gif" alt="fedora">
<img class="button88x31" src="assets/buttons/winxp.gif" alt="fedora">
<img class="button88x31" src="assets/buttons/3ds_88x31.png" alt="3ds">

<link id="theme-stylesheet" rel="stylesheet" href="/style/books.css">

<h2>my favourite books</h2>


<div class="books grid">
    {% for book in bookCovers %}
    <a href="{{ book.link }}" target="_blank">
        <img src="{{ book.cover }}" alt="{{ book.title }}">
    </a>
    {% endfor %}
</div>

<p>
Also, my favourite poem is
<a class="external" target="_blank" rel="noopener noreferrer" href="https://books.google.co.uk/books/about/Dream_Work.html?id=hQMYEQAAQBAJ&source=kp_book_description&redir_esc=y">Wild Geese</a>
by Mary Oliver.
</p>

<h2>my favourite video games</h2>

<div class="books grid">
    {% for game in my_games %}
    <a href="{{ game.link }}" target="_blank">
        <img src="{{ game.cover }}" alt="{{ game.name }}">
    </a>
    {% endfor %}
</div>
