---
layout: markdown.njk
icon: eye.gif
title: andrei's miscellanea
header: miscellanea
---

This page is for all the random things I don't have another place for.


<h2>webrings <a name="webrings"></a></h2>

<link id="theme-stylesheet" rel="stylesheet" href="/style/webrings.css">

<div style="justify-content:center;">
    <div class="grid">

        <div class="shring box">
            <div>
                <a href="https://shring.sh/andreilazer/previous"><--</a>
                <nobr> <a href="https://shring.sh">shring</a> 
                <nobr> <a href="https://shring.sh/andreilazer/next">--></a>
            </div>
        </div>

        <div class="hotline box">
            <div>
                <a href="https://hotlinewebring.club/andreilazer/previous"><--</a>
                <nobr> <a href="https://hotlinewebring.club/">hotline</a> 
                <a href="https://hotlinewebring.club/andreilazer/next">--></a>
            </div>
        </div>

    </div>
</div>

<h2>books i like</h2>

<div id="books" class="grid">
    {% for book in bookCovers %}
    <div class="book">
        <a href="{{ book.link }}", style="background:var(--bg-color);" target="_blank">
            <img src="{{ book.cover }}" alt="{{ book.title }}">
        </a>
    </div>
    {% endfor %}
</div>


<link id="theme-stylesheet" rel="stylesheet" href="/style/books.css">

<h2>video games i like</h2>

<div id="books" class="grid">
    {% for game in my_games %}
    <div class="book">
        <a href="{{ game.link }}", style="background:var(--bg-color);" target="_blank">
            <img src="{{ game.cover }}" alt="{{ game.name }}">
        </a>
    </div>
    {% endfor %}
</div>

<h2>buttons</h2>

<div style="justify-content:center;">
    <div class="grid">
        <img src="assets/buttons/3ds_88x31.png" alt="3ds">
        <img src="assets/buttons/wii_88x31.png" alt="wii">
        <img src="assets/buttons/design_passion_88x31.gif" alt="web design is my passion">
        <img src="assets/buttons/vim_88x31.gif" alt="vim">
        <img src="assets/buttons/romania_88x15.gif" alt="romania">
    </div>
</div>
